.wrapper{
    width: 100%;
    // max-height: min((100vh - 96px) - 60px, 734px);
    border-radius: 8px;
    box-shadow: rgba(0 0 0 / 12%) 0px 2px 12px;
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    padding-top: 8px;
    min-width: 361px;  
    height: 100%;
}