.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width:var(--default-layout-width,1150px);
    min-height: 100px;
    display: flex;
}

.content{
    flex: 1;
    min-height: 1000px;
}