.wrapper{
   display: flex;
   align-items: center;
   padding: 9px 16px;
   cursor: pointer;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 14px;
}

.info{
    flex: 1;
}

.name{
    font-size: 1.4rem;
    font-weight: 600;
}

.check{
    color: #20d5ec;
    font-size: 1.4rem;
    margin-left: 8px;
}

.username{
    font-size: 1.4rem;
    color: #454545;
}


